//
// Theme

$HK_MONOSPACE_FONT                  : Menlo, Monaco, "Liberation Mono", monospace ;
$HK_TEXT_COLOR                      : #121729 ;

$HK_CONTROL_FONT                    : Helvetica, sans-serif ;
$HK_CONTROL_FONT_SIZE               : 10px ;
$HK_CONTROL_BORDER_COLOR            : #455366 ;
$HK_CONTROL_ACTIVE_BG_COLOR         : #EAF20F ;

$HK_BUTTON_BG_COLOR                 : #929DA8 ;

$HK_ROOT_BG_COLOR                   : #181E23 ;

$HK_CONSOLE_FONT_SIZE               : 13px ;

$HK_DIALOG_PADDING                  : 6px ;
$HK_DIALOG_HEADER_HEIGHT            : 24px ;
$HK_DIALOG_BORDER_RADIUS            : $HK_DIALOG_PADDING ;

$HK_SPLIT_PANE_DIVIDER_SIZE         : 8px ;
$HK_TOOLBAR_HEIGHT                  : 18px ;
$HK_TOOLBAR_ITEM_BORDER_COLOR       : #A6B5BB ;

$HK_TAB_SPACING                     : 7px ;
$HK_TAB_PADDING                     : 7px ;
$HK_TAB_HEIGHT                      : $HK_CONTROL_FONT_SIZE + (2 * 7px);
$HK_TAB_BORDER_RADIUS               : 5px ;
$HK_TAB_BACKGROUND_COLOR            : #67748C ;

$HK_BLOCK_BORDER_RADIUS             : 10px;